body{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%,50%);
}
.container{
    height: 200px;
    width: 400px;
    background-color: rgb(121, 73, 73);
    
    text-align: center;
    border: 2px solid brown;
    
    padding:0 0 30px 0;
}

h2{
    
    padding: 30px;
    font-size: 30px;
}
.controls {
    display: flex;
    justify-content: space-around;
    margin-left: 0;
    /* margin-top: 40px; */

    
}
.controls div{
    
    i{
        font-size: x-large;
    }
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    
}